<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav class="sidenav" mode="side" opened>
    <mat-toolbar color="primary">
      <img src="assets/img/PNG3.png" class="logo">
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/dashboard-cliente/clientes">Reservar Cita</a>
      <!--a mat-list-item routerLink="/dashboard-cliente/representados">Mis representados</a>
      <a mat-list-item routerLink="/citas">Citas</a-->
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="sidenav.toggle()" [matTooltip]="sidenav.opened ? 'Cerrar menu' : 'Abrir menu'"
        matTooltipPosition="right">
        <mat-icon>menu</mat-icon>
      </button>
      <span>LLesdental</span>
      <span class="spacer"></span>

      <button mat-button [matMenuTriggerFor]="menu">
        <mat-icon>account_circle</mat-icon>
        {{ nombre }}
      </button>

      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="logout()">
          <mat-icon>logout</mat-icon>
          Cerrar sesión
        </button>
      </mat-menu>
    </mat-toolbar>

    <div class="content">
      <router-outlet></router-outlet>
      <!--app-calendario-citas /-->

    </div>
  </mat-sidenav-content>
</mat-sidenav-container>