.iti__flag {
  height: 15px;
  box-shadow: 0px 0px 1px 0px #888;
  /*background-image: url("../intl-tel-input/flags.png");*/
  background-image: url("/assets/img/intl-tel-input/flags.png");
  background-repeat: no-repeat;
  background-position: 20px 0;
}
@media (min-resolution: 2x) {
  .iti__flag {
    background-image: url("/assets/img/intl-tel-input/flags@2x.png");
  }
}

.iti__globe {
  /*background-image: url("../img/globe.png");*/
  background-image: url("/assets/img/intl-tel-input/globe.png");
  background-size: contain;
  background-position: right;
  box-shadow: none;
  height: 19px;
}
@media (min-resolution: 2x) {
  .iti__globe {
    background-image: url("/assets/img/intl-tel-input/globe@2x.png");
  }
}