
/* Estilo general para el input */
.iti__flag {
  height: 15px;
  box-shadow: 0 0 1px 0 #888;
  background-image: url("/assets/img/intl-tel-input/flags.png");
  background-repeat: no-repeat;
  background-position: 20px 0;
}

@media (min-resolution: 2x) {
  .iti__flag {
    background-image: url("/assets/img/intl-tel-input/flags@2x.png");
  }
}

.iti__globe {
  background-image: url("/assets/img/intl-tel-input/globe.png");
  background-size: contain;
  background-position: right;
  box-shadow: none;
  height: 19px;
}

@media (min-resolution: 2x) {
  .iti__globe {
    background-image: url("/assets/img/intl-tel-input/globe@2x.png");
  }
}

